# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
Thumbs.db
